* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(5, 7, 12, 0.50),rgba(5, 7 , 12, 0.50)), url(https://www.prosalus.es/sites/default/files/styles/large/public/imagenes-noticias/accion_x_clima_web.jpg?itok=nGN4bp1r);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.menú {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: 90px;
}

.menú ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.menú ul li a {
    text-decoration: none;
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

.menú ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    left: 0;
    position: absolute;
    background-color: aqua;
    bottom: -12px;
    transition: 0.3s ease-out;
}

.menú ul li:hover::before {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(245, 245, 220);
    font-size: 60px;
}

#empresa {
    color: darkseagreen ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: left;
}